Prześlij instrukcje potwierdzenia Twojego adresu e-mail:
= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  %div
    = f.label :email, "Adres e-mail"
    %br/
    = f.email_field :email
  %div= f.submit "Wyślij"
