Edytuj swój adres e-mail
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  .clearfix
    - if @client.client_type == "klient indywidualny"
      = f.label :name, "Imię i nazwisko*"
    - if @client.client_type == "firma"
      =f.label :name, "Nazwa firmy*"
    - if @client.client_type == "szkoła lub biblioteka"
      =f.label :name, "Nazwa szkoły/biblioteki*"
  .clearfix
    = f.label :email, "Adres e-mail*"
    .input= f.email_field :email
  .clearfix
    Musisz zostawić conajmniej jeden z numerów:*
    %br/
    = f.label :stationary_phone, "Numer stacjonarny"
    .input= f.text_field :stationary_phone
  .clearfix
    = f.label :mobile_phone, "Numer komórkowy"
    .input= f.text_field :mobile_phone
  .clearfix
    - if @client.client_type != "klient indywidualny"
      %br/
      = f.label :fax_phone, "Fax"
      .input= f.text_field :fax_phone
      .clearfix
        = f.label :nip, "Numer NIP*"
        .input= f.text_field :nip 
      .clearfix
        = f.label :contact_comments, "Tu możesz podać osoby odpowiedzialne za zamówienia, z którymi możemy się skontaktować w razie potrzeby. Możesz podać imię, nazwisko, numer telefonu i ewentualne stanowisko, żebyśmy wiedzieli o kogo pytać."
        .input= f.text_area :contact_comments    
  .clearfix
    = f.label :current_password, "Aktualne hasło*"
    .input=f.password_field :current_password
  .clearfix
  %div= f.submit "Zaktualizuj dane"
= link_to "Powrót", :back
