%h2 Załóż konto indywidualne
= form_for @user, :url => { :action => "create" }, :html => { :method => :post } do |f|
  -# = devise_error_messages!
  = flash[:error] = @company.errors.full_messages
  .clearfix
    = f.label :name, "Imię"
    .input= f.text_field :name
  .clearfix
    = f.label :surname, "Nazwisko"
    .input= f.text_field :surname
  .clearfix
    = f.label :phone, "Numer telefonu"
    .input= f.text_field :phone
  .clearfix
    = f.fields_for :client, @user.client do |client_form|
      = render :partial => "shared/client",  :locals => { :f => client_form }
  .clearfix.actions
    = f.submit "Zarejestruj się", :class => "btn primary"
