.post
  %h2.tekst-1strona
    Witaj na karcie "Moje konto"
    %br/
    %br/
    Jesteś zarejestrowany jako klient indywidualny  #{@user.name} #{@user.surname}
    %br/
    Nr telefonu : #{@user.phone}
    %br/
    Adres e-mail : #{@user.client.email}
    %br/
    %br/
    - if !@user.client.confirmed?
      Twoje konto jest nowe. Oznacza to, że Twój e-mail nie został jeszcze potwierdzony.
      %br/
      = link_to "Wyślij e-mail z instrukcjami potwierdzenia.", new_client_confirmation_path(@user.client)
      %br/
    %br/
    = link_to "Edytuj swoje dane", edit_user_path(@user)
    %br/
    %br/
    = link_to "Zmień adres e-mail", edit_registration_path(@user.client)
    %br/
    %br/
    = link_to "Zmień hasło", edit_client_password_path(@user.client)
    %br/
    %br/
    %br/
    = link_to "Usuń konto",registration_path(@user.client), :confirm => "Jesteś pewien, że chcesz usunąć konto? To jest nieodwracalne!", :method => :delete
%p
