= render :partial => "errors"
= form_for @payer do |f|
  .clearfix
    = f.label :name, "Nazwa płatnika*"
    .input= f.text_field :name
  .clearfix
    = f.label :nip, "Numer NIP płatnika*"
    .input= f.text_field :nip
  .clearfix
    = f.label :phone, "Numer telefonu*"
    .input= f.text_field :phone
  .clearfix
    = f.label :contact_comments, "Tu możesz podać osoby odpowiedzialne za zamówienia, z którymi możemy się skontaktować w razie potrzeby. Możesz podać imię, nazwisko, numer telefonu i ewentualne stanowisko, żebyśmy wiedzieli o kogo pytać."
    .input= f.text_area :contact_comments  
  Adres:
  .clearfix
    = f.label :street, "ulica*"
    .input= f.text_field :street
  .clearfix
    = f.label :house_number, "numer domu*"
    .input= f.text_field :house_number
  .clearfix
    = f.label :apartment_number, "numer lokalu"
    .input= f.text_field :apartment_number
  .clearfix
    = f.label :zip_code, "kod pocztowy*"
    .input= f.text_field :zip_code
  .clearfix
    = f.label :city, "miasto*"
    .input= f.text_field :city
  .clearfix.actions
    = f.submit "Zapisz platnika", :class => "btn primary"
*Pola oznaczone gwiazdką są obowiązkowe
