%h3 
-if @payers.blank?
  Nie dodałeś żadnego płatnika
-if !@payers.blank?
  Twoi płatnicy:
  %br/
  - for payer in @payers
    ul. #{payer.street} #{payer.house_number}
    - if !payer.apartment_number.blank? 
      m. #{payer.apartment_number}
    %br/
    #{payer.zip_code} #{payer.city}
    %br/
    =link_to "Edytuj adres", edit_payer_path(payer)
    ||
    =link_to "Usuń adres", payer_path(payer), :confirm => 'Jesteś pewien, że chcesz usunąć tego płatnika? To jest nieodwracalne!', :method => :delete
    %br/
%br/
%br/
=link_to "Dodaj płatnika", new_payer_path(current_client.id)

