- for accessory in @accessories 
  .post
  %h2.title
    = link_to accessory.name, accessory_path(accessory)
    - unless accessory.product.pictures.blank?
      %br/
      = image_tag accessory.product.pictures.first.photo.url(:thumb)
    %p.tekst-1strona
      opis: #{truncate(accessory.description, :length => 20, :separator => ' ', :ommission => "...")}
      %br/
      cena: #{number_to_currency(accessory.price)} 
    %h2.tekst-1strona
      = button_to("Dodaj do koszyka", add_to_cart_product_order_item_order_path( accessory.product.id, 1, 1), :action => "add_to_cart", :method => :get)  
%br/
%br/
= paginate @accessories 
