- for accessory in @accessories 
  .tekst
  %h2.tekst
    = link_to accessory.name, accessory_path(accessory)
    - unless accessory.product.pictures.blank?
      %br/
      = link_to image_tag(accessory.product.pictures.first.photo.url(:small)), accessory.product.pictures.first.photo.url(:large), :rel => "prettyPhoto[pp_gal]" 
    %p.tekst
      opis: #{truncate(accessory.description, :length => 20, :separator => ' ', :ommission => "...")}
      %br/
      cena: #{number_to_currency(accessory.price)} 
    .tekst
      = button_to("Dodaj do koszyka", add_to_cart_product_order_item_order_path( accessory.product.id, 1, 1), :action => "add_to_cart", :method => :get)  
%br/
.tekst
  = paginate @accessories 
