- for book in @books 
  .post
  %h2.title
    = link_to book.title, book_path(book)
    - unless book.product.pictures.blank?
      %br/
      = image_tag book.product.pictures.first.photo.url(:small)
    %p.tekst-1strona
      Autor: #{book.author}
      %br/
      Wydawnictwo:
      = link_to book.publisher_book.name, publisher_book_path(book.publisher_book_id) 
      %br/
      rok wydania: #{book.year_of_publishing} 
      %br/
      rodzaj oprawy:  #{book.cover}
      %br/
      cena: #{number_to_currency(book.price)} 
    %h2.tekst-1strona
      = button_to("Dodaj do koszyka", add_to_cart_product_order_item_order_path( book.product.id, 1, 1), :action => "add_to_cart", :method => :get)  
%br/
%br/
= paginate @books

