.post
  %h2.tekst-1strona
    Witaj na karcie "Moje konto"
    %br/
    %br/
    Jesteś zarejestrowany jako 
    -if (@client.client_type == "indywidualny")
      klient
    #{@client.client_type} #{@client.name} 
    %br/
    Adres e-mail : #{@client.email}
    %br/
    -unless (@client.stationary_phone.blank?)
      Numer stacjonarny #{@client.stationary_phone}
      %br/
    -unless (@client.mobile_phone.blank?)
      Numer komórkowy #{@client.mobile_phone}
      %br/
    -unless (@client.client_type == "indywidualny")
      -unless (@client.fax_phone.blank?)
        Fax #{@client.fax_phone}
        %br/
      Numer NIP #{@client.nip}
      %br/
    %br/
    - if !@client.confirmed?
      Twoje konto jest nowe. Oznacza to, że Twój e-mail nie został jeszcze potwierdzony.
      %br/
      = link_to "Wyślij e-mail z instrukcjami potwierdzenia.", new_client_confirmation_path(@client)
      %br/
    %br/
    = link_to "Edytuj swoje dane", edit_registration_path(@client)
    %br/
    %br/
    = link_to "Zmień hasło", edit_client_password_path(@client)
    %br/
    %br/
    = link_to "Pokaż adresy", addresses_path(@client)
    %br/
    %br/
    %br/
    = link_to "Usuń konto",registration_path(@client), :confirm => "Jesteś pewien, że chcesz usunąć konto? To jest nieodwracalne!", :method => :delete
%p
