.tekst
%h2.tekst
  = @book.title
  %br/
  - unless @book.product.pictures.blank?
    - for picture in @book.product.pictures
      = link_to image_tag(picture.photo.url(:small), :alt => @book.title), picture.photo.url(:large), :rel => "prettyPhoto[pp_gal]" 
  %p.tekst
    Autor: #{@book.author}
    %br/
    język wydania: #{ @book.language}
    %br/
    - unless (@book.translation.blank?)
      przekład: #{@book.translation} 
      %br/
    Wydawnictwo : 
    = link_to @book.publisher_book.name, publisher_book_path(@publisher_book) 
    %br/
    rok wydania: #{@book.year_of_publishing}
    %br/
    numer ISBN: #{ @book.isbn}
    %br/
    - unless @book.size.blank?
      format: #{ @book.size} cm
      %br/
    liczba stron: #{@book.number_of_pages}   
    %br/
    rodzaj oprawy: #{@book.cover}
    %br/
    cena: #{number_to_currency(@book.price)}
    %br/
  .tekst
    = button_to "Dodaj do koszyka", order_items_path(product_id: @book.product.id), remote: true 
  %p.tekst
    = @book.description.html_safe
%p
= link_to "Pokaż wszystkie książki", books_path
