%h3 
Twoje adresy:
- for address in @addresses
  ul. #{address.street} #{address.house_number}
  - if !address.apartment_numer.blank? 
    m. #{address.apartment_number}
  %br/
  #{address.zip_code} #{address.city}
  %br/
