%h2 Załóż konto indywidualne
= form_for @address, :url => { :action => "create" }, :html => { :method => :post } do |f|
  = render :partial => "errors"
  .clearfix
    = f.label :street, "ulica"
    .input= f.text_field :street
    = f.label :house_number, "numer domu"
    .input= f.text_field :house_number
  .clearfix
    = f.label :apartment_number, "numer mieszkania"
    .input= f.text_field :apartment_number
  .clearfix
    = f.label :zip_code, "kod pocztowy"
    .input= f.text_field :zip_code
  .clearfix
    = f.label :city, "miasto"
    .input= f.text_field :city
  .clearfix
    = f.label :address_type, "Typ adresu"
    .input= f.select_field :address_type :collection => ["stały", "wysyłki"]
    -#= render :partial => "form"
  .clearfix.actions
    = f.submit "Zapisz adres", :class => "btn primary"
