.post
  %h2.tekst-1strona
    = @accessory.name
    %br/
    - unless @accessory.product.pictures.blank?
      = image_tag @accessory.product.pictures.first.photo.url(:small)
      %br/
    cena: #{number_to_currency(@accessory.price)}
    = button_to("Dodaj do koszyka", add_to_cart_product_order_item_order_path( @accessory.product.id, 1, 1), :action => "add_to_cart", :method => :get)  
    %br/
    %br/
    = @accessory.description


%p
= link_to "Pokaż wszystkie akcesoria", accessories_path
