!!!5
-# layout nie jest mój, został skopiowany i przerobiony z aktualnej strony mojej siostry
%html
  %head
    %title CDKiG
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title Centrum Dobrej Książki i Gry
    %meta{:content => "kodeks, Centrum dobrej książki i gry, ustawa, Beck, MT Biznes, Poltext, Ossolineum, Biblioteka Narodowa, Dynastie, Arkady, wydawnictwo Skorpion, Zawiśliński Stanisław, lektury, ważne żeby iść, głośne rzymskie procesy karne, PAX, IW PAX, historia filozofii, arcydzieła malarstwa, sztuka, album, albumy, książki na telefon, księgarnia wysyłkowa, książki na zamówienie, wydawnictwa nisko nakładowe, ekskluzywne wydawnictwa, wydanie albumowe, słownik, scenariusz filmu, scenariusze, pedagogika, psychologia, ekonomia, filologia, literatura obcojęzyczna, biografie, Krzysztof Kieślowski, PWN, GWP, Gdańskie Wydawnictwo Pedagogiczne, Carcassonne, Rattle Snake, Albi, gry planszowe, gry strategiczne, gry edukacyjne, gry do świetlic, literatura biznesowa, wyposażenie świetlic, wyposażenie bibliotek ", :name => "keywords"}
    %meta{:content => "Na łamach tej witryny odnajdziecie Państwo nie tylko opisy nowości wydawniczych czy wyszukacie edycje bibliofilskie. W Centrum Dobrej Ksiązki i Gry mozna równierz odnaleźć doskonałe pomysły na prezenty dla bliskich Wam osób czy kluczowych klientów i pracowników. Pamiętajmy iż upominki, którymi obdarowywujemy innych świadaczą o nas samych. Stąd odpowiednio dobrana książka czy gra planszowa mogą sprawić wiele radości bliskim a wśród obdarowywanych kontrachentów i pracowników utrwali pozytywny wizerunek firmy równierz jako mecenasa kultury. Asortyment który oferujemy Państwu, to książki z najznakomitszych polskich wydawnictw, częstwo z głęgoko zakorzenioną tradycją i bogatą historią co czyni ofertę wyjątkową.", :name => "description"}
  %body
    %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "1000"}
      %tr
        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "980"}
          %tr
            %td.baner1  
          %tr
            %td.baner2{:valign => "top"}
              %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "800"}
                %tr
                  %td.menu--gora
                    = link_to "Strona główna", root_path
                  %td.menu--gora
                    = link_to "O firmie", about_company_path
                  %td.menu--gora
                    = link_to "Kontakt", contact_us_path
                  %td.menu--gora
                    = link_to "Regulamin", rules_path 
      %tr
        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "970"}
          %tr
            %td{:valign => "top", :width => "300"}
              %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "200"}
                %tr
                  %td.tekst-1strona
                    - if client_signed_in? 
                      = render :partial => "shared/logged"
                    - if !client_signed_in?
                      = link_to "Zaloguj", new_client_session_path 
                      %br/
                      %br/
                      -#header
                      -#  = render_cell :order, :display, :client => current_client
         
                      %br/
                      %br/
                      #nav
                        %ul{:style=> 'list-style-type: none'}
                          %li.menu.show
                            = link_to "", "#", :class => "expander open"
                            = link_to "Książki", books_path
                            %ul
                              %li.submenu.show
                                = link_to "", "#", :class => "expander"
                                = link_to "Kategorie", category_books_path
                                %ul.hide
                                  -for category_book in CategoryBook.all
                                    %li.submenu
                                      = link_to "", "#", :class => "expander"
                                      = link_to "#{category_book.name} (#{category_book.books.length})", category_book_path(category_book)
                                      %ul.hide
                                        -for subcategory_book in category_book.subcategory_books
                                          %li.submenu2
                                            = link_to "#{subcategory_book.name} (#{subcategory_book.books.length})", subcategory_book_path(subcategory_book)
                              %li.submenu.show
                                = link_to "", "#", :class => "expander"
                                = link_to "Wydawnictwa", publisher_books_path
                                %ul.hide
                                  - for publisher_book in PublisherBook.all
                                    %li.submenu2
                                      = link_to "#{publisher_book.name} (#{publisher_book.books.length})", publisher_book_path(publisher_book)
                          %li.menu.show
                            = link_to "", "#", :class => "expander"
                            = link_to "Gry", games_path
                            %ul.hide
                              - for  category_game in CategoryGame.all
                                %li.submenu
                                  = link_to "", "#", :class => "expander"
                                  = link_to "#{category_game.name} (#{category_game.games.length})", category_game_path(category_game)
                                  %ul.hide
                                    -for subcategory_game in category_game.subcategory_games
                                      %li.submenu2
                                        = link_to "#{subcategory_game.name} (#{subcategory_game.games.length})", subcategory_game_path(subcategory_game)
                          %li.menu.show
                            = link_to "", "#", :class => "expander"
                            = link_to "Akcesoria", accessories_path
                            %ul.hide
                              - for category_accessory in CategoryAccessory.all
                                %li.submenu2
                                  = link_to "#{category_accessory.name} (#{category_accessory.accessories.length})", category_accessory_path(category_accessory)

              %td{:valign => "top", :width => "650"}
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "750"}
                  %tr
                    %td
                  %tr
                    %td
                      %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "700"}
                        %tr
                          %td.tekst-1strona
                            %p{:style => "font-weight: bold; font-size: 16px;"}
                              = flash[:notice]
                              = flash[:error]
                              = flash[:alert]
                              =yield 
                  %tr
                    %td
      %tr
        %td
    %p  

